{
  "root": true,
  "env": {
    "browser": true
  },
  "globals": {
    "saveAs": true
  },
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-return-await": "off"
  }
}
